<IfModule mod_rewrite.c | rewrite_module>
RewriteEngine On

Options +FollowSymlinks -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>